<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

## Extract

### JSON Extract Function

This function will extract JSON files.

In [37]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe.head(5)

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [38]:
columns=['Name','Market Cap (US$ Billion)']

In [39]:
def extract(file_to_process):
    # Write your code here
    dataframe = pd.read_csv(file_to_process,index_col=0)
    return dataframe.head(5)

In [40]:
extract('exchange_rates')

          Rates
AED    3.571494
AFN   84.110998
ALL  116.461659
AMD  392.766045
ANG    1.753097

In [41]:
extract_from_json('bank_market_cap_1.json')

                                               Name  Market Cap (US$ Billion)
0   Industrial and Commercial Bank of China Limited                   5866.00
1                           China Construction Bank                   4532.05
2                        Agricultural Bank of China                   4354.56
3                                     Bank of China                   4113.36
4                                    JPMorgan Chase                   3954.68

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [27]:
# Write your code here
df = pd.read_csv('exchange_rates')
df[df['Unnamed: 0']=='GBP']
us_to_gbp = 0.732

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [51]:
def transform(file_to_process):
    # Write your code here
    df = pd.read_json(file_to_process)
    df['Market Cap (US$ Billion)'] = df['Market Cap (US$ Billion)'].astype('float64')
    df['Market Cap (US$ Billion)'] = df["Market Cap (US$ Billion)"] * 0.732
    df.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'},inplace=True)
    return df.head(5)

In [52]:
transform('bank_market_cap_1.json')

                                               Name  Market Cap (GBP$ Billion)
0   Industrial and Commercial Bank of China Limited                 4293.91200
1                           China Construction Bank                 3317.46060
2                        Agricultural Bank of China                 3187.53792
3                                     Bank of China                 3010.97952
4                                    JPMorgan Chase                 2894.82576

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [53]:
def load(file_to_process):
    # Write your code here
    df = pd.read_json(file_to_process)
    df.to_csv("bank_market_cap_gbp.csv",index=False)
    return df

In [54]:
load('bank_market_cap_1.json')

                                                Name  Market Cap (US$ Billion)
0    Industrial and Commercial Bank of China Limited                   5866.00
1                            China Construction Bank                   4532.05
2                         Agricultural Bank of China                   4354.56
3                                      Bank of China                   4113.36
4                                     JPMorgan Chase                   3954.68
..                                               ...                       ...
95                                          BayernLB                    266.27
96                               Qatar National Bank                    259.48
97                               China Zheshang Bank                    258.63
98                                          Swedbank                    257.79
99                                 Raiffeisen Gruppe                    256.43

[100 rows x 2 columns]

## Logging Function

Write the logging function <code>log</code> to log your data:

In [60]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [61]:
# Write your code here
log("ETL Job Started")
log('Extract phase Started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [55]:
# Call the function here

# Print the rows here
extract_from_json('bank_market_cap_1.json')

                                               Name  Market Cap (US$ Billion)
0   Industrial and Commercial Bank of China Limited                   5866.00
1                           China Construction Bank                   4532.05
2                        Agricultural Bank of China                   4354.56
3                                     Bank of China                   4113.36
4                                    JPMorgan Chase                   3954.68

Log the data as <code>"Extract phase Ended"</code>

In [62]:
# Write your code here
log('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [63]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [64]:
# Call the function here

# Print the first 5 rows here
transform('bank_market_cap_1.json')

                                               Name  Market Cap (GBP$ Billion)
0   Industrial and Commercial Bank of China Limited                 4293.91200
1                           China Construction Bank                 3317.46060
2                        Agricultural Bank of China                 3187.53792
3                                     Bank of China                 3010.97952
4                                    JPMorgan Chase                 2894.82576

Log your data <code>"Transform phase Ended"</code>

In [65]:
# Write your code here
log('Transform phase Ended')

### Load

Log the following `"Load phase Started"`.

In [66]:
# Write your code here
log("Load phase Started")

Call the load function

In [59]:
# Write your code here
load('bank_market_cap_1.json')

                                                Name  Market Cap (US$ Billion)
0    Industrial and Commercial Bank of China Limited                   5866.00
1                            China Construction Bank                   4532.05
2                         Agricultural Bank of China                   4354.56
3                                      Bank of China                   4113.36
4                                     JPMorgan Chase                   3954.68
..                                               ...                       ...
95                                          BayernLB                    266.27
96                               Qatar National Bank                    259.48
97                               China Zheshang Bank                    258.63
98                                          Swedbank                    257.79
99                                 Raiffeisen Gruppe                    256.43

[100 rows x 2 columns]

Log the following `"Load phase Ended"`.

In [67]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).